@charset "UTF-8";

/*********
CSS Var
*********/

/*********
Reset CSS
*********/

/* Box sizing rules */

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */

body,
h1,
h2,
h3,
h4,
p,
ul[class],
li,
blockquote {
  margin: 0;
}

/* Set core body defaults and system font stack */

body {
  min-height: 100vh;
  font-family: -apple-system, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
  line-height: 1.6;
  overscroll-behavior: none;
  text-rendering: optimizeSpeed;
}

/* Remove list styles on ul, ol elements with a class attribute */

ul[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */

a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */

img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */

article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */

input,
button {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*********
Theme CSS
*********/

html {
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth; }

html {
    font-size: 19.36px;
    font-size: 1.1rem; }

@media screen and (min-width: 20rem) {
      html {
        font-size: calc(0.9292rem + 0.35398vw); }
    }

@media screen and (min-width: 133rem) {
      html { font-size: 1.4rem; }
    }

p,
ul {
  margin-top: calc(1.33333rem + 0.5vw);
}

blockquote {
  margin-top: calc(1.86667rem + 0.5vw);
  margin-bottom: calc(1.86667rem + 0.5vw);
}

h1,
h2,
h3,
h4 {
  color: #343434;
  font-weight: 700;
  line-height: 1.2;
  margin-top: calc(1.86667rem + 0.5vw);
}

h1 {
  margin: 0; }

h1 {
    font-size: 29.494px;
    font-size: 1.67583rem; }

@media screen and (min-width: 20rem) {
      h1 {
        font-size: calc(1.58847rem + 0.43681vw); }
      }

@media screen and (min-width: 133rem) {
      h1 {
        font-size: 2.16943rem; }
    }

h2 {
  font-size: 22.783px;
  font-size: 1.29454rem; }

@media screen and (min-width: 20rem) {
    h2 {
      font-size: calc(1.24559rem + 0.24473vw); }
    }

@media screen and (min-width: 133rem) {
    h2 {
      font-size: 1.57109rem; }
  }

h3 {
  font-size: 20.024px;
  font-size: 1.13778rem; }

@media screen and (min-width: 20rem) {
    h3 {
      font-size: calc(1.09476rem + 0.2151vw); }
    }

@media screen and (min-width: 133rem) {
    h3 { font-size: 1.38084rem; }
  }

h4 {
  font-size: 18.773px;
  font-size: 1.06667rem; }

@media screen and (min-width: 20rem) {
    h4 {
      font-size: calc(1.04066rem + 0.13005vw); }
    }

@media screen and (min-width: 133rem) {
    h4 { font-size: 1.21363rem; }
  }

h2 + p,
h3 + p {
  margin-top: calc(0.8rem + 0.25vw);
}

/****************
Link Blank
*****************/

/****************
Menu
*****************/

@media screen and (min-width: 30em) {
  .menu {
    max-width: 66.66666vw;
    margin: 2rem auto 0 auto;
    text-align: center;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
  }

  .submenu { display: none; }
}

#burgerbutton { display: none; }

@-webkit-keyframes open {
    from {
        left: -100vw;
    }
    to {
        left: 0;
    }
}

@keyframes open {
    from {
        left: -100vw;
    }
    to {
        left: 0;
    }
}

.burgerimage {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 28pt;
    cursor: pointer;
    -webkit-transition: -webkit-transform 0.8s ease;
    transition: -webkit-transform 0.8s ease;
    transition: transform 0.8s ease;
    transition: transform 0.8s ease, -webkit-transform 0.8s ease;
    color: var(--green);
}

#burgerbutton:checked~ul {
    display: block;
    -webkit-animation-name: open;
            animation-name: open;
    -webkit-animation-duration: 0.8s;
            animation-duration: 0.8s;
}

#burgerbutton:checked~.burgerimage {-webkit-transform: rotate(360deg);transform: rotate(360deg);}

@media(max-width:30rem) {
  .logo { margin-top: 75px; }

  .menu {
    background-color: white;
    display: block;
    height: 65px;
    border-bottom: 3px solid black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
  }

  .menu ul {
    display: none;
    position: fixed;
    top: 50px;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    list-style: none;
  }

  .menu ul li {
    display: block;
    width: auto;
  }

  .menu ul li a {
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 2rem;
    height: 50px;
    font-size: 1.6rem;
    -webkit-transition: background 0.5s ease;
    transition: background 0.5s ease;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

  .menu ul li a:hover {
    background-color: black;
    color: white;
  }
}

/****************
Typo
*****************/

.letter-wide { letter-spacing: 12px; }

.letter-space { letter-spacing: 6px; }

/* Measure is limited to ~100 characters */

.measure-wide-plus { max-width: 45em; }

/* Specific width for article */

.limit-para p {
  max-width: 640px;
  margin-top: 35.2px;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.limit-para blockquote p { margin-top: 0; }

/* Specific width for article */

.limit-640 {
  max-width: 640px;
  margin: 0 auto;
}

/****************
Article
*****************/

@media screen and (min-width: 30em) {
 .flex-basis-33-ns { -ms-flex-preferred-size: 33.33%; flex-basis: 33.33%; }

 .flex-basis-66-ns { -ms-flex-preferred-size: 66.66%; flex-basis: 66.66%; }

 .article:hover { border: 1px solid black; }

 .article:hover h2,
 .article:hover h3 {
  text-decoration: underline;
 }
}

blockquote {
  margin-top: calc(1.86667rem + 0.5vw);
  margin-bottom: calc(1.86667rem + 0.5vw);
}

blockquote {
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  font-size: 28.16px;
  font-size: 1.6rem;
  font-weight: 700;
}

blockquote:before {
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p { margin-top: 0; }

/****************
Theme
*****************/

.border-light-bt {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.border-large { border: 1px solid black; }

.border-large-t { border-top: 10px solid black; }

.border-large-b { border-bottom: 10px solid black; }

@media screen and (min-width: 30em) {
  .maxw66 { max-width: 66.66666vw; }
}

/*********
Utilities
*********/

/********
A11y
********/

a.skip-main {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}

a.skip-main:focus, a.skip-main:active {
    color: #fff;
    background-color:#000;
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow:auto;
    padding:5px;
    border-radius: 15px;
    border:4px solid #000;
    text-align:center;
    font-size:1.2em;
    z-index:999;
}

/*********
Print
*********/

@media print {
  * {
    background: transparent !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    text-shadow: none !important;
	}
  body {
    width: auto;
    margin: auto;
    font-family: serif;
    font-size: 12pt;
	}
  nav,
  footer {
    display: none;
  }
  p,
  h1,
  h2,
  h3,
  h4,
  blockquote,
  ul {
    color: #000;
    margin: auto;
	}
  img {
   max-width: 100% !important;
  }
  /* no orphans, no widows */
  p,
  blockquote {
    orphans: 3;
    widows: 3;
	}
  /* no breaks inside these elements */
  blockquote,
  ul,
  img {
    page-break-inside: avoid;
	}
  /* page break before main headers
  h1,
  .h1-like {
    page-break-before: always;
  }
  */
  /* no breaks after these elements */
  h1,
  h2,
  h3 {
    page-break-after: avoid;
	}
  a {
    color: #000;
	}
  /*
  displaying URLs
  */
  a[href^="http"]:not([href*="pikselkraft.com"]):after {
    content: " (" attr(href) ")";
  }
  a[href^="#"]::after {
    content: ""; }

  /* displaying URLs
  Revealing expansions in abbreviations
  */
	}

/*! TACHYONS v4.11.2 | http://tachyons.io */

/*
 *
 *      ________            ______
 *      ___  __/_____ _________  /______  ______________________
 *      __  /  _  __ `/  ___/_  __ \_  / / /  __ \_  __ \_  ___/
 *      _  /   / /_/ // /__ _  / / /  /_/ // /_/ /  / / /(__  )
 *      /_/    \__,_/ \___/ /_/ /_/_\__, / \____//_/ /_//____/
 *                                 /____/
 *
 *    TABLE OF CONTENTS
 *
 *    1. External Library Includes
 *       - Normalize.css | http://normalize.css.github.io [removed]
 *    2. Tachyons Modules
 *    3. Variables
 *       - Media Queries
 *       - Colors
 *    4. Debugging
 *       - Debug all
 *       - Debug children
 *
 */

/* Modules */

/*

   ASPECT RATIOS

*/

/* This is for fluid media that is embedded from third party sites like youtube, vimeo etc.
 * Wrap the outer element in aspect-ratio and then extend it with the desired ratio i.e
 * Make sure there are no height and width attributes on the embedded media.
 * Adapted from: https://github.com/suitcss/components-flex-embed
 *
 * Example:
 *
 * <div class="aspect-ratio aspect-ratio--16x9">
 *  <iframe class="aspect-ratio--object"></iframe>
 * </div>
 *
 * */

/*

   IMAGES
   Docs: http://tachyons.io/docs/elements/images/

*/

/* Responsive images! */

img { max-width: 100%; }

/*

   BACKGROUND SIZE
   Docs: http://tachyons.io/docs/themes/background-size/

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/

/*
  Often used in combination with background image set as an inline style
  on an html element.
*/

/*

    BACKGROUND POSITION

    Base:
    bg = background

    Modifiers:
    -center = center center
    -top = top center
    -right = center right
    -bottom = bottom center
    -left = center left

    Media Query Extensions:
      -ns = not-small
      -m  = medium
      -l  = large

 */

/*

   OUTLINES

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/

/*

    BORDERS
    Docs: http://tachyons.io/docs/themes/borders/

    Base:
      b = border

    Modifiers:
      a = all
      t = top
      r = right
      b = bottom
      l = left
      n = none

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/

/*

   BORDER COLORS
   Docs: http://tachyons.io/docs/themes/borders/

   Border colors can be used to extend the base
   border classes ba,bt,bb,br,bl found in the _borders.css file.

   The base border class by default will set the color of the border
   to that of the current text color. These classes are for the cases
   where you desire for the text and border colors to be different.

   Base:
     b = border

   Modifiers:
   --color-name = each color variable name is also a border color name

*/

/*

   BORDER RADIUS
   Docs: http://tachyons.io/docs/themes/border-radius/

   Base:
     br   = border-radius

   Modifiers:
     0    = 0/none
     1    = 1st step in scale
     2    = 2nd step in scale
     3    = 3rd step in scale
     4    = 4th step in scale

   Literal values:
     -100 = 100%
     -pill = 9999px

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/

/*

   BORDER STYLES
   Docs: http://tachyons.io/docs/themes/borders/

   Depends on base border module in _borders.css

   Base:
     b = border-style

   Modifiers:
     --none   = none
     --dotted = dotted
     --dashed = dashed
     --solid  = solid

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

 */

/*

   BORDER WIDTHS
   Docs: http://tachyons.io/docs/themes/borders/

   Base:
     bw = border-width

   Modifiers:
     0 = 0 width border
     1 = 1st step in border-width scale
     2 = 2nd step in border-width scale
     3 = 3rd step in border-width scale
     4 = 4th step in border-width scale
     5 = 5th step in border-width scale

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/

/* Resets */

/*

  BOX-SHADOW
  Docs: http://tachyons.io/docs/themes/box-shadow/

  Media Query Extensions:
   -ns = not-small
   -m  = medium
   -l  = large

 */

/*

   CODE

*/

/*

   COORDINATES
   Docs: http://tachyons.io/docs/layout/position/

   Use in combination with the position module.

   Base:
     top
     bottom
     right
     left

   Modifiers:
     -0  = literal value 0
     -1  = literal value 1
     -2  = literal value 2
     --1 = literal value -1
     --2 = literal value -2

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/

/*

   CLEARFIX
   http://tachyons.io/docs/layout/clearfix/

*/

/* Nicolas Gallaghers Clearfix solution
   Ref: http://nicolasgallagher.com/micro-clearfix-hack/ */

/*

   DISPLAY
   Docs: http://tachyons.io/docs/layout/display

   Base:
    d = display

   Modifiers:
    n     = none
    b     = block
    ib    = inline-block
    it    = inline-table
    t     = table
    tc    = table-cell
    t-row          = table-row
    t-columm       = table-column
    t-column-group = table-column-group

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/

/*
  This will set table to full width and then
  all cells will be equal width
*/

/*

  FLEXBOX

  Media Query Extensions:
   -ns = not-small
   -m  = medium
   -l  = large

*/

.flex { display: -webkit-box; display: -ms-flexbox; display: flex; }

/* 1. Fix for Chrome 44 bug.
 * https://code.google.com/p/chromium/issues/detail?id=506893 */

.justify-between { -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

/*

   FLOATS
   http://tachyons.io/docs/layout/floats/

   1. Floated elements are automatically rendered as block level elements.
      Setting floats to display inline will fix the double margin bug in
      ie6. You know... just in case.

   2. Don't forget to clearfix your floats with .cf

   Base:
     f = float

   Modifiers:
     l = left
     r = right
     n = none

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/

/*

   FONT FAMILY GROUPS
   Docs: http://tachyons.io/docs/typography/font-family/

*/

/* Monospaced Typefaces (for code) */

/* From http://cssfontstack.com */

/* Sans-Serif Typefaces */

/* Serif Typefaces */

/*

   FONT STYLE
   Docs: http://tachyons.io/docs/typography/font-style/

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/

/*

   FONT WEIGHT
   Docs: http://tachyons.io/docs/typography/font-weight/

   Base
     fw = font-weight

   Modifiers:
     1 = literal value 100
     2 = literal value 200
     3 = literal value 300
     4 = literal value 400
     5 = literal value 500
     6 = literal value 600
     7 = literal value 700
     8 = literal value 800
     9 = literal value 900

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/

/*

   FORMS

*/

/*

   HEIGHTS
   Docs: http://tachyons.io/docs/layout/heights/

   Base:
     h = height
     min-h = min-height
     min-vh = min-height vertical screen height
     vh = vertical screen height

   Modifiers
     1 = 1st step in height scale
     2 = 2nd step in height scale
     3 = 3rd step in height scale
     4 = 4th step in height scale
     5 = 5th step in height scale

     -25   = literal value 25%
     -50   = literal value 50%
     -75   = literal value 75%
     -100  = literal value 100%

     -auto = string value of auto
     -inherit = string value of inherit

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/

/* Height Scale */

/* Height Percentages - Based off of height of parent */

/* Screen Height Percentage */

/* String Properties */

/*

   LETTER SPACING
   Docs: http://tachyons.io/docs/typography/tracking/

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/

/*

   LINE HEIGHT / LEADING
   Docs: http://tachyons.io/docs/typography/line-height

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/

/*

   LINKS
   Docs: http://tachyons.io/docs/elements/links/

*/

/*

   LISTS
   http://tachyons.io/docs/elements/lists/

*/

.list {
  list-style-type: none;
}

/*

   MAX WIDTHS
   Docs: http://tachyons.io/docs/layout/max-widths/

   Base:
     mw = max-width

   Modifiers
     1 = 1st step in width scale
     2 = 2nd step in width scale
     3 = 3rd step in width scale
     4 = 4th step in width scale
     5 = 5th step in width scale
     6 = 6st step in width scale
     7 = 7nd step in width scale
     8 = 8rd step in width scale
     9 = 9th step in width scale

     -100 = literal value 100%

     -none  = string value none


   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/

/* Max Width Percentages */

/* Max Width Scale */

/* Max Width String Properties */

/*

   WIDTHS
   Docs: http://tachyons.io/docs/layout/widths/

   Base:
     w = width

   Modifiers
     1 = 1st step in width scale
     2 = 2nd step in width scale
     3 = 3rd step in width scale
     4 = 4th step in width scale
     5 = 5th step in width scale

     -10  = literal value 10%
     -20  = literal value 20%
     -25  = literal value 25%
     -30  = literal value 30%
     -33  = literal value 33%
     -34  = literal value 34%
     -40  = literal value 40%
     -50  = literal value 50%
     -60  = literal value 60%
     -70  = literal value 70%
     -75  = literal value 75%
     -80  = literal value 80%
     -90  = literal value 90%
     -100 = literal value 100%

     -third      = 100% / 3 (Not supported in opera mini or IE8)
     -two-thirds = 100% / 1.5 (Not supported in opera mini or IE8)
     -auto       = string value auto


   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/

/* Width Scale */

/*

    OVERFLOW

    Media Query Extensions:
      -ns = not-small
      -m  = medium
      -l  = large

 */

/*

   POSITIONING
   Docs: http://tachyons.io/docs/layout/position/

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/

/*

    OPACITY
    Docs: http://tachyons.io/docs/themes/opacity/

*/

/*

   ROTATIONS

*/

/*

   SKINS
   Docs: http://tachyons.io/docs/themes/skins/

   Classes for setting foreground and background colors on elements.
   If you haven't declared a border color, but set border on an element, it will
   be set to the current text color.

*/

/* Text colors */

/* Background colors */

/*

   SKINS:PSEUDO

   Customize the color of an element when
   it is focused or hovered over.

 */

/* Variables */

/*
   SPACING
   Docs: http://tachyons.io/docs/layout/spacing/

   An eight step powers of two scale ranging from 0 to 16rem.

   Base:
     p = padding
     m = margin

   Modifiers:
     a = all
     h = horizontal
     v = vertical
     t = top
     r = right
     b = bottom
     l = left

     0 = none
     1 = 1st step in spacing scale
     2 = 2nd step in spacing scale
     3 = 3rd step in spacing scale
     4 = 4th step in spacing scale
     5 = 5th step in spacing scale
     6 = 6th step in spacing scale
     7 = 7th step in spacing scale

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/

.pa0 { padding: 0; }

.pa1 { padding: 4.4px; padding: .25rem; }

.pa2 { padding: 8.8px; padding: .5rem; }

.pa3 { padding: 17.6px; padding: 1rem; }

.ma0 { margin: 0; }

.mr2 { margin-right: 8.8px; margin-right: .5rem; }

.mb2 { margin-bottom: 8.8px; margin-bottom: .5rem; }

.mb4 { margin-bottom: 35.2px; margin-bottom: 2rem; }

.mb5 { margin-bottom: 70.4px; margin-bottom: 4rem; }

.mt0 { margin-top: 0; }

.mt2 { margin-top: 8.8px; margin-top: .5rem; }

.mt3 { margin-top: 17.6px; margin-top: 1rem; }

.mt4 { margin-top: 35.2px; margin-top: 2rem; }

/*
   NEGATIVE MARGINS

   Base:
     n = negative

   Modifiers:
     a = all
     t = top
     r = right
     b = bottom
     l = left

     1 = 1st step in spacing scale
     2 = 2nd step in spacing scale
     3 = 3rd step in spacing scale
     4 = 4th step in spacing scale
     5 = 5th step in spacing scale
     6 = 6th step in spacing scale
     7 = 7th step in spacing scale

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/

/*

  TABLES
  Docs: http://tachyons.io/docs/elements/tables/

*/

/*

   TEXT DECORATION
   Docs: http://tachyons.io/docs/typography/text-decoration/


   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/

.no-underline { text-decoration: none; }

/*

  TEXT ALIGN
  Docs: http://tachyons.io/docs/typography/text-align/

  Base
    t = text-align

  Modifiers
    l = left
    r = right
    c = center
    j = justify

  Media Query Extensions:
    -ns = not-small
    -m  = medium
    -l  = large

*/

/* uncss:ignore start */

.tl { text-align: left; }

.tr { text-align: right; }

.tc { text-align: center; }

.tj { text-align: justify; }

/* uncss:ignore end */

/*

   TEXT TRANSFORM
   Docs: http://tachyons.io/docs/typography/text-transform/

   Base:
     tt = text-transform

   Modifiers
     c = capitalize
     l = lowercase
     u = uppercase
     n = none

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/

.ttc { text-transform: capitalize; }

/*

   TYPE SCALE
   Docs: http://tachyons.io/docs/typography/scale/

   Base:
    f = font-size

   Modifiers
     1 = 1st step in size scale
     2 = 2nd step in size scale
     3 = 3rd step in size scale
     4 = 4th step in size scale
     5 = 5th step in size scale
     6 = 6th step in size scale
     7 = 7th step in size scale

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large
*/

/*
 * For Hero/Marketing Titles
 *
 * These generally are too large for mobile
 * so be careful using them on smaller screens.
 * */

/* Type Scale */

.f1 { font-size: 52.8px; font-size: 3rem; }

.f2 { font-size: 39.6px; font-size: 2.25rem; }

.f4 { font-size: 22px; font-size: 1.25rem; }

.f6 { font-size: 15.4px; font-size: .875rem; }

/* Small and hard to read for many people so use with extreme caution */

/*

   TYPOGRAPHY
   http://tachyons.io/docs/typography/measure/

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/

/* Measure is limited to ~66 characters */

/* Measure is limited to ~80 characters */

/* Measure is limited to ~45 characters */

/* Book paragraph style - paragraphs are indented with no vertical spacing. */

/* Combine this class with a width to truncate text (or just leave as is to truncate at width of containing element. */

/*

   UTILITIES

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/

/* Equivalent to .overflow-y-scroll */

/*

   VISIBILITY

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/

/*
    Text that is hidden but accessible
    Ref: http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*/

/*

   WHITE SPACE

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/

/*

   VERTICAL ALIGN

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/

/*

  HOVER EFFECTS
  Docs: http://tachyons.io/docs/themes/hovers/

    - Dim
    - Glow
    - Hide Child
    - Underline text
    - Grow
    - Pointer
    - Shadow

*/

/*

  Dim element on hover by adding the dim class.

*/

/*

  Animate opacity to 100% on hover by adding the glow class.

*/

/*

  Hide child & reveal on hover:

  Put the hide-child class on a parent element and any nested element with the
  child class will be hidden and displayed on hover or focus.

  <div class="hide-child">
    <div class="child"> Hidden until hover or focus </div>
    <div class="child"> Hidden until hover or focus </div>
    <div class="child"> Hidden until hover or focus </div>
    <div class="child"> Hidden until hover or focus </div>
  </div>
*/

/* Can combine this with overflow-hidden to make background images grow on hover
 * even if you are using background-size: cover */

/* Add pointer on hover */

/*
   Add shadow on hover.

   Performant box-shadow animation pattern from
   http://tobiasahlin.com/blog/how-to-animate-box-shadow/
*/

/* Combine with classes in skins and skins-pseudo for
 * many different transition possibilities. */

/*

  Z-INDEX

  Base
    z = z-index

  Modifiers
    -0 = literal value 0
    -1 = literal value 1
    -2 = literal value 2
    -3 = literal value 3
    -4 = literal value 4
    -5 = literal value 5
    -999 = literal value 999
    -9999 = literal value 9999

    -max = largest accepted z-index value as integer

    -inherit = string value inherit
    -initial = string value initial
    -unset = string value unset

  MDN: https://developer.mozilla.org/en/docs/Web/CSS/z-index
  Spec: http://www.w3.org/TR/CSS2/zindex.html
  Articles:
    https://philipwalton.com/articles/what-no-one-told-you-about-z-index/

  Tips on extending:
  There might be a time worth using negative z-index values.
  Or if you are using tachyons with another project, you might need to
  adjust these values to suit your needs.

*/

/*

    NESTED
    Tachyons module for styling nested elements
    that are generated by a cms.

*/

/*

  STYLES

  Add custom styles here.

*/

/* Variables */

/* Importing here will allow you to override any variables in the modules */

/*

   Tachyons
   COLOR VARIABLES

   Grayscale
   - Solids
   - Transparencies
   Colors

*/

/*

  CUSTOM MEDIA QUERIES

  Media query values can be changed to fit your own content.
  There are no magic bullets when it comes to media query width values.
  They should be declared in em units - and they should be set to meet
  the needs of your content. You can also add additional media queries,
  or remove some of the existing ones.

  These media queries can be referenced like so:

  @media (--breakpoint-not-small) {
    .medium-and-larger-specific-style {
      background-color: red;
    }
  }

  @media (--breakpoint-medium) {
    .medium-screen-specific-style {
      background-color: red;
    }
  }

  @media (--breakpoint-large) {
    .large-and-larger-screen-specific-style {
      background-color: red;
    }
  }

*/

/* Media Queries */

/* Debugging */

/*

  DEBUG CHILDREN
  Docs: http://tachyons.io/docs/debug/

  Just add the debug class to any element to see outlines on its
  children.

*/

/*

   DEBUG GRID
   http://tachyons.io/docs/debug-grid/

   Can be useful for debugging layout issues
   or helping to make sure things line up perfectly.
   Just tack one of these classes onto a parent element.

*/

/* Uncomment out the line below to help debug layout issues */

/* @import './_debug'; */

@media screen and (min-width: 30em) {
 .dn-ns { display: none; }
 .flex-ns { display: -webkit-box; display: -ms-flexbox; display: flex; }
 .justify-between-ns { -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }
 .pa0-ns { padding: 0; }
 .pa3-ns { padding: 1rem; }
 .pa4-ns { padding: 2rem; }
 .mb0-ns { margin-bottom: 0; }
 .mt0-ns { margin-top: 0; }
 .tr-ns { text-align: right; }
 .tc-ns { text-align: center; }
 .mr-auto-ns { margin-right: auto; }
 .ml-auto-ns { margin-left: auto; }
}

@media screen and (min-width: 30em) and (max-width: 60em) {
 .mt3-m { margin-top: 1rem; }
}
